<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyf.mapper.SubjectMapper">
    <select id="getSubjectById" parameterType="integer" resultType="com.lyf.entity.Subject">
                select id,subject_name as subjectName from subject where id = #{subjectId}
    </select>
</mapper>