<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyf.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.lyf.entity.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="phoneNum" property="phonenum" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="nickName" property="nickname" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="birthday" property="birthday" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="imgUrl" property="imgurl" jdbcType="VARCHAR"/>
        <result column="createTime" property="createtime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="verifyLogin" parameterType="com.lyf.entity.User" resultType="int">
        select count(1) from user where email = #{email} and password = #{password}
    </select>

    <select id="validateEmail" parameterType="string" resultType="int">
        select count(1) from user where email = #{email}
    </select>

    <insert id="insertUser" parameterType="com.lyf.entity.User">
        insert into user ( email, phoneNum,
        password, code, nickName,
        sex, birthday, address,
        imgUrl, createTime)
        values ( #{email,jdbcType=VARCHAR}, #{phonenum,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR},
        #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
        #{imgurl,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP})
    </insert>

    <select id="getUserByEmail" parameterType="string" resultType="com.lyf.entity.User">
         select * from user where email = #{userAccount}
    </select>

    <update id="updateUserImgUrl" parameterType="com.lyf.entity.User">
        update user
        set imgUrl = #{imgurl,jdbcType=VARCHAR}
        where email = #{email,jdbcType=INTEGER}
    </update>

    <update id="updateUser" parameterType="com.lyf.entity.User" >
        update user
        <set >
            <if test="id != null" >
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="phonenum != null" >
                phoneNum = #{phonenum,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="code != null" >
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null" >
                nickName = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="sex != null" >
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null" >
                birthday = #{birthday,jdbcType=VARCHAR},
            </if>
            <if test="address != null" >
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="imgurl != null" >
                imgUrl = #{imgurl,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null" >
                createTime = #{createtime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where  email = #{email}
  </update>

</mapper>